/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2015, 9:40:15 AM
    Author     : jimisanchez
*/

    #registrationForm {
        width : 700px;
    }
    #searchForm {
        width : 500px;
    }
    #chatForm {
        width : 600px;
      
    }
    #groupCreateForm {
        width : 700px;
    }
    form {
        border : black dashed thin;
        margin-left : auto;
        margin-right: auto;
    }
    #loginForm {
        margin-left: auto;
        margin-right: auto;
        width : 700px;
    }
    h1 {
        text-align: center
    }
    #footer {
        margin-left : auto;
        margin-right : auto;
        text-align : center;
    }
    #indexWarningsDiv {
        margin-left : auto;
        margin-right: auto;
        text-align: center;
    }
  
